@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

body {
  margin: 0;
  background-color: hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;
}

main {
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  /* Responsiveness */
  padding: 20px;
  box-sizing: border-box;
}

.main-container-card {
  width: 100%;
  max-width: 300px;
  background-color: hsl(216, 50%, 16%);
  min-height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.image-container {
  position: relative;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  padding: 20px 0;
}

.image-container img {
  margin: 0 20px;
  border-radius: 5px;
  display: block;

  /* Responsiveness */
  max-width: calc(100% - 40px);
  height: auto;
}

.overlay {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 0;
  height: 250px;
  cursor: pointer;

  background: hsl(178, 100%, 50%, 0.5);
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container:hover .overlay {
  opacity: 1;
}

.descri-title {
  color: white;
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  transition: 0.3s;
  display: inline-block;
}

.descri-title:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

.descri-container {
  margin: 0 20px;
}

.descri-container h5 {
  display: flex;
  color: hsl(178, 100%, 50%);
  font-weight: 600;
  align-items: center;
}

.descri-container h5 img {
  margin-right: 5px;
}

.time-left {
  margin-left: auto;
  color: hsl(215, 51%, 70%);
  font-weight: 400;
  display: inline-flex;
  flex-wrap: wrap;
}

.descri-container p {
  color: hsl(215, 51%, 70%);
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.author-container {
  display: flex;
  align-items: center;
  margin: 0 20px;
  border-top: 1px solid hsl(215, 32%, 27%);
}

.avatar-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}

.avatar-container img {
  background-color: white;
  border-radius: 50%;
  padding: 1px;
}

.avatar-container span {
  color: hsl(215, 51%, 70%);
  font-weight: 400;
}

span.author-name {
  color: white;
  transition: 0.3s;
  cursor: pointer;
}

.author-name:hover {
  color: hsl(178, 100%, 50%);
}

/* Desktop (1440px and above) */
@media (min-width: 1440px) {
  .main-container-card {
    max-width: 350px;
  }
}
